<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744042005137-mms32060snkcpp6pquegk944podn0vlu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744042005137-mms32060snkcpp6pquegk944podn0vlu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>744042005137-14mb8js4b553md7sji5i3qo6mate0qbg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDmKzdNK1fyNkypey7zsizGpOeZsxwDdXo</string>
	<key>GCM_SENDER_ID</key>
	<string>744042005137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.genesis1</string>
	<key>PROJECT_ID</key>
	<string>zzeeta</string>
	<key>STORAGE_BUCKET</key>
	<string>zzeeta.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744042005137:ios:31ed1128f8b5d499203530</string>
</dict>
</plist>